@import 'common.scss';

$menu-height   : 1.2rem;
$toolbar-height: 2.8rem;

.MenuItem {
  height : $menu-height;
  padding: 0 1rem;

  font-size  : 1rem;
  line-height: $menu-height;
  text-align : center;

  &:hover {
    background-color: $color4;
  }

  cursor: default;
}

.Menu {
  display: flex;
  height : $menu-height;

  background-color: lighten($color3, 10%);
}

.Toolbar {
  height: $toolbar-height;

  background-color: $color2;

  h1 {
    padding: 0 1rem;

    font-size  : $toolbar-height * .8;
    line-height: $toolbar-height;
  }
}

.Header {
  height: $menu-height + $toolbar-height;

  color: $color1;
}
