$menu-height   : 1.2rem;
$toolbar-height: 2.8rem;

.MenuItem {
  height : $menu-height;
  padding: 0 1rem;

  font-size  : 1rem;
  line-height: $menu-height;
  text-align : center;

  &:hover {
    background-color: white;
  }

  cursor: default;
}

.Menu {
  display: flex;
  height : $menu-height;

  background-color: gray;
}

.Toolbar {
  height: $toolbar-height;

  background-color: darkgray;
}

.Header {
  height: $menu-height + $toolbar-height;
}
