@import 'common.scss';

$bg-color    : $color3;
$border-color: lighten($color3, 20%);


.Main {
  flex-grow: 1;

  background-color: $bg-color;

  & > div {
    width : 100% !important;
    height: 100% !important;
  }

  :global .rete-background {
    /* grid background */
    background-size: 10rem 10rem;
    background-image:
      linear-gradient(to right, $border-color 1px, transparent 1px),
      linear-gradient(to bottom, $border-color 1px, transparent 1px);
  }
  :global .node {
    background-color: lighten($bg-color, 10%);
    border-color    : lighten($border-color, 10%);

    &.selected {
      background-color: lighten($bg-color, 30%);
      border-color    : $color4;
    }

    .title {
      padding: .4rem;
      font-size: 1rem;
      text-align: center;
    }
    .input-title, .output-title {
      margin: 0 .5rem;
    }
    .input .socket {
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
    .output .socket {
      margin-top: 0;
      margin-left: 0;
      margin-bottom: 0;
    }

    .control {
      margin: -.4rem auto 0 auto;
      padding: .2rem .4rem;

      width: 95%;

      input {
        width  : 100%;
        padding: 0 .2rem;

        color           : $color1;
        background-color: $color3;

        line-height: 1.4rem;
        text-align : right;

        &[type='number'] {
          -moz-appearance: textfield;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }
    }
  }

  :global .node.imm-integer, :global .node.input-integer {
    width    : 8rem;
    min-width: 8rem;
  }
}
